<section class="py-2">
  <div class="row">
    <div class="col-md-6 text-center">
      <h1 class="display-3 mt-3 pt-5">
        Web Development Ebook
      </h1>
      <p class="lead">Learn Web Development Front to Back</p>
      <form action="/charge" method="POST">
        <script 
          src="https://checkout.stripe.com/checkout.js" 
          class="stripe-button" 
          data-key="pk_test_emK2YOph4ZV5KhU5f6B24wU8"   
          data-amount="2500"
          data-name="Node Stripe CT" 
          data-description="Ebook written" 
          data-image="/img/marketplace.png"
          data-locale="auto">
        </script>
        <script>
          //Hide default Stripe button
          document.getElementsByClassName('stripe-button-el')[0].style.display = 'none';
        </script>
        <button type="submit" class="btn btn-outline-success text-white btn-lg">Purchase for $25.00</button>
      </form>
    </div>
    <div class="col-md-6">
      <img src="/img/book.png" alt="bookImg" class="img-fluid">
    </div>
  </div>
</section>